 <%= form_for @listing do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title%>
  </div>
  <br>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <br>
  <div>
    <%= f.label :country_code %>
    <%= f.country_select :country_code, {selected: "SG"} %>
  </div>
  <br>
  <div>
    <%= f.label :max_guests %>
    <%= f.number_field :max_guests %>
  </div>
  <br>
  <div>
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>
  <br>
  <%= f.submit %>
  <br>
<%= link_to "Back", root_path %>
<%end%>
