<h1>Edit listing</h1>
<%if @listing == nil %>
<%else%>
<% @listing.each do |x| %>
 <%= form_for x, :html => {:multipart => true} do |t| %>
  <p>
  <%= t.label :avatar %><br>
    <%= t.file_field :avatar %>
  </p>
  <p>
    <%= t.label :name %><br>
    <%= t.text_field :name %>
  </p>
 
  <p>
    <%= t.label :country %><br>
    <%= t.text_area :country %>
  </p>
 
 <p>
    <%= t.label :zipcode %><br>
    <%= t.text_area :zipcode %>
  </p>

  <p>
    <%= t.submit %>
  </p>
 
<% end %>
<%end%>
<%end%>
<%= link_to 'Back', listing_path(current_user.id) %>

