<p style="color: white">Listing Title: <%= @listing.title %></p>
<p style="color: white">Listing Description: <%= @listing.description %></p>
<p style="color: white">Listing Country: <%= @listing.country_code %></p>
<p style="color: white">Listing Max Guests: <%= @listing.max_guests %></p>
<p style="color: white">Listing Price: <%= @listing.price %></p>
<%= render '/bookings/form'%>