<h1>Edit User</h1>
<p>ID: <%= @user.id %></p>
<p>Email: <%= @user.email %></p>
<p>Name: <%= @user.name %></p>
<p>Pic: <%= image_tag @user.avatar.to_s %></p>
 <%= form_for @user, :html => {:multipart => true} do |t| %>
  <p>
  <%= t.label :avatar %><br>
    <%= t.file_field :avatar %>
  </p>
  <p>
    <%= t.label :name %><br>
    <%= t.text_field :name %>
  </p>
 
  <p>
    <%= t.label :email %><br>
    <%= t.text_area :email %>
  </p>
 
 <p>
    <%= t.label :password %><br>
    <%= t.text_area :password %>
  </p>

  <p>
    <%= t.submit %>
  </p>
 
<% end %>
<%= link_to 'Back', root_path %>

